* {
  box-sizing: border-box;
  padding: 0px;
}

body {
  margin: 10px 50px;
  background-color: gray;
}

/* header styling */
header {
  display: flex;
  justify-content: space-between;
}

/* 11 */
nav {
  display: flex;
  align-items: center;
}

.nav-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.nav-list li {
  margin-right: 20px;
}

.nav-list a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;

  cursor: pointer;
  text-decoration: none;
  border: 2px solid black;
  padding: 10px 20px;
  border-radius: 20px;
}

.nav-list a:hover {
  background-color: #6e07f3;
  color: white;
  border: none;
}


.menu-toggle {
  cursor: pointer;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}


.menu-toggle span {
  background-color: #fff;
  height: 4px;
  width: 100%;
  display: block;
}

/* 11 */

/* media for humburger menue */
@media only screen and (max-width: 768px) {
  nav {
    cursor: pointer;
  }


  .menu-toggle {
    display: flex;
  }

  .menu-toggle:active{
    transform: rotate(90deg);
    transition: 300ms;
    
  }

  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    /* background-color: #333; */
  }

  .nav-list a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;

    cursor: pointer;
    text-decoration: none;
    border: 2px solid black;
    padding: 5px 10px;
    border-radius: 20px;
  }

  .nav-list.show {
    display: flex;
    gap: 20px;
  }

  .nav-list li {
    margin: 0;
    text-align: center;
  }
}

/* personal logo  */

h1 {
  font-family: poppies;
  font-size: 3rem;
  margin-bottom: 0px;
}

.slogan-photo > div > h2 {
  font-weight: 100;
}

.logo_container {
  text-align: center;
  height: 150px;
  width: 200px;
  margin: -15px;
  margin-bottom: 0px;
  padding: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    to bottom left,
    rgb(31, 30, 30) 20%,
    rgb(39, 37, 37) 30%,
    rgb(81, 75, 75) 50%,
    /* rgb(120, 108, 108) 80% */
  );
  -webkit-background-clip: background;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: backGroundShining 2s ease-in-out infinite alternate;
}

.text_letters {
  gap: 10px;
  font-weight: 900;
  font-size: 6rem;
  background: linear-gradient(
    to right,
    rgb(99, 85, 4) 20%,
    rgb(153, 131, 6) 30%,
    rgb(209, 180, 14) 70%,
    rgb(221, 199, 74) 80%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
  animation: textShining 2s ease-in-out infinite alternate;
}
span {
  display: block;
  font-size: 1.8rem;
  margin-top: -20px;
}

.text_letters:hover {
  background: linear-gradient(to right, rgb(156, 8, 156), rgb(32, 158, 32));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 500% auto;
}

@keyframes textShining {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes backGroundShining {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

/* main styling */

.slogan-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img[alt="main photo"] {
  border: 1px solid black;
  border-radius: 100%;
  padding: 20px;
}

.intoduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 500px;
  background-color: #6e07f3;
  color: white;
  margin-top: -3.5px;
}

.intoduction > div > h2 {
  font-family: poppies;
  font-size: 2.5rem;
  margin-bottom: 0px;
}

.text {
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-family: inconsolata;
}

.tool-stacks {
  position: relative;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  width: 80%;
  top: -100px;
  left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 50px;
}

.stack {
  text-align: center;
  flex-basis: 500px;
}

.stack > img {
  height: 100px;
  width: 100px;
}

ul {
  list-style-type: none;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.project {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

img[class="project_logo"] {
  width: 100%;
  height: 100%;
}

.content__section__title {
  font-size: 2rem;
  text-align: center;
}

.content__section__companies {
  display: flex;
  justify-content: center;
  gap: 50px;
  text-align: center;
}

.company_logo {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}

.firm_logo {
  width: 100%;
  height: 98%;
}

.company-name {
  font-size: 1.5rem;
  font-weight: bold;
}

/* own practice projects */

aside {
  margin-top: 100px;
}
aside > h2 {
  text-align: center;
}

.own-projects {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.clone {
  border: 1px solid black;
  height: 500px;
  width: 500px;
}

/* footer */
footer {
  padding-top: 100px;
}

.basment__info {
  border-top: 2px solid black;
}

.contact-title {
  margin: 10px;
}

.basement_contacts {
  display: flex;
  gap: 25px;
  justify-content: space-around;
}

.own-practice {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.clone {
  width: 500px;
  border: 2px solid black;
  border-radius: 8px;
  text-align: center;
}
